<div class="container">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url "/index.html" %}">Chemfiles</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="{% if_current_page '/index.html' 'active' '' %}"><a href="{% url '/index.html' %}">Home</a></li>
            <li class="{% if_current_page '/contact.html' 'active' '' %}"><a href="{% url '/contact.html' %}">Contact</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">C++ and C</li>
                    <li><a href="/chemfiles/latest/index.html">Latest</a></li>
                    <li><a href="/chemfiles/0.8.0/index.html">Stable (0.8.0)</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Python</li>
                    <li><a href="/chemfiles.py/latest/">Latest</a></li>
                    <li><a href="/chemfiles.py/0.8.0/">Stable (0.8.0)</a></li>
                    <li class="dropdown-header">Fortran</li>
                    <li><a href="/chemfiles.f03/latest/">Latest</a></li>
                    <li><a href="/chemfiles.f03/0.8.0/">Stable (0.8.0)</a></li>
                    <li class="dropdown-header">Julia</li>
                    <li><a href="/Chemfiles.jl/latest/">Latest</a></li>
                    <li><a href="/Chemfiles.jl/v0.8.0/">Stable (0.8.0)</a></li>
                    <li class="dropdown-header">Rust</li>
                    <li><a href="/chemfiles.rs/latest/chemfiles/">Latest</a></li>
                    <li><a href="/chemfiles.rs/0.8.0/chemfiles/">Stable (0.8.00)</a></li>
                </ul>
            </li>
        </ul>
    </div><!--/.navbar-collapse -->
</div>
</div>
