html, body {
  height: 100%;
  padding-bottom: 0;
  font-size: 12pt;
}

#wrap {
  min-height: 100%;
}

main {
  overflow:auto;
  padding-bottom:100px; /* this needs to be bigger than footer height*/
}

#chemfiles-logo {
    max-width: 300px;
    padding-top: 20px;
}

.octoicon {
    margin-right: 0.2ex;
}

.navbar {
    background-image: none;
    background-color: #ffffff;
    color: black;
}

nav a {
    color: black;
}

nav .active a {
    color: #2a6496;
}

.nav .caret {
    border-top-color: black;
    border-bottom-color: black;
}

footer {
  padding-top: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 200;
  background-color: #eeeeee;
  position: relative;
  margin-top: -70px; /* negative value of footer height */
  height: 70px;
  clear: both;
}

.images-table {
    padding: 5px;
}

.center-block {
    display: block;
    margin: auto;
}

.flat-btn {
    display: inline-block;
    margin: 0 5px;
    border-radius: 6px;
    font-size: 16.5px;
    padding: 12px 20px;
    border: 0;
    color: #FFF;
    cursor: pointer;
    outline: 0;
}

.vspace-1 {
    margin-top: 1em;
}

.vspace-2 {
    margin-top: 2em;
}

.vspace-3 {
    margin-top: 3em;
}

.vspace-4 {
    margin-top: 4em;
}

.vspace-5 {
    margin-top: 5em;
}

.installation figure img,.installation figure .octoicon {
    margin: auto;
    margin-bottom: 1em;
    display: block;
}

figcaption {
    text-align: center;
    font-size: 2em;
}
