{% extends "base.html" %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1>Contact</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h3>Contacting us</h3>

            <p>You can talk with us on our
            <a href="https://gitter.im/chemfiles/chemfiles">gitter</a>
            chat room. We are also on twitter with the
            <a href="https://twitter.com/libchemfiles">@libchemfiles</a> user
            name</p>
        </div>

        <div class="col-lg-4">
            <h3>Features requests and bugs</h3>
            <p>Please send feature request or bug reports using
            <a href="http://github.com/chemfiles/chemfiles/issues">Github issues</a>.</p>
        </div>

        <div class="col-lg-4">
            <h3>Who is behind Chemfiles?</h3>
            <p>Chemfiles is developed by <a href="http://guillaume.fraux.fr">
                Guillaume Fraux</a>, a PhD student in computational chemistry
                in Paris.</p>
        </div>
    </div>
</div>
{% endblock %}
