{% extends "base.html" %}
{% block title %} — Documentation{% endblock %}

{% block body %}
<div class="jumbotron">
</div>
<div class="container">
    <h1>Please select the language and chemfiles version you are using:</h1>
    <br /><br /><br />
    <div class="row">
        <div class="col-lg-3">
            <img width="80em" class="center-block" src="/static/images/logo-cxx.png" alt="C++ logo" />
        </div>
        <div class="col-lg-3">
            <h2>C++ or C</h2>
        </div>
        <div class="col-lg-4">
            <ul>
                <li><a href="/chemfiles/latest/">Latest development version</a></li>
                <li><a href="/chemfiles/0.9.1/">Stable version: 0.9.1</a></li>
                <li><a href="/chemfiles/0.8.0/">Version 0.8.0</a></li>
                <li><a href="/chemfiles/0.7.4/">Version 0.7.4</a></li>
                <li><a href="/chemfiles/0.6.0/">Version 0.6.0</a></li>
                <li><a href="/chemfiles/0.5.0/">Version 0.5.0</a></li>
                <li><a href="/chemfiles/0.4.0/">Version 0.4.0</a></li>
            </ul>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <br /><br />
    <div class="row">
        <div class="col-lg-3">
            <img width="80em" class="center-block" src="/static/images/logo-python.png" alt="Python logo" />
        </div>
        <div class="col-lg-3">
            <h2>Python</h2>
        </div>
        <div class="col-lg-4">
            <ul>
                <li><a href="/chemfiles.py/latest/">Latest development version</a></li>
                <li><a href="/chemfiles.py/0.9.1/">Stable version: 0.9.1</a></li>
                <li><a href="/chemfiles.py/0.8.0/">Version 0.8.0</a></li>
                <li><a href="/chemfiles.py/0.7.4/">Version 0.7.4</a></li>
                <li><a href="/chemfiles.py/0.6.0/">Version 0.6.0</a></li>
                <li><a href="/chemfiles.py/0.5.0/">Version 0.5.0</a></li>
                <li><a href="/chemfiles.py/0.4.0/">Version 0.4.0</a></li>
            </ul>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="col-lg-3">
            <img width="80em" class="center-block" src="/static/images/logo-fortran.png" alt="Fortran logo" />
        </div>
        <div class="col-lg-3">
            <h2>Fortran</h2>
        </div>
        <div class="col-lg-4">
            <ul>
                <li><a href="/chemfiles.f03/latest/">Latest development version</a></li>
                <li><a href="/chemfiles.f03/0.9.1/">Stable version: 0.9.1</a></li>
                <li><a href="/chemfiles.f03/0.8.0/">Version 0.8.0</a></li>
                <li><a href="/chemfiles.f03/0.7.4/">Version 0.7.4</a></li>
                <li><a href="/chemfiles.f03/0.6.0/">Version 0.6.0</a></li>
                <li><a href="/chemfiles.f03/0.5.0/">Version 0.5.0</a></li>
            </ul>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="col-lg-3">
            <img width="80em" class="center-block" src="/static/images/logo-julia.png" alt="Julia logo" />
        </div>
        <div class="col-lg-3">
            <h2>Julia</h2>
        </div>
        <div class="col-lg-4">
            <ul>
                <li><a href="/chemfiles.jl/latest/">Latest development version</a></li>
                <li><a href="/chemfiles.jl/v0.9.1/">Stable version: 0.9.1</a></li>
                <li><a href="/chemfiles.jl/v0.8.0/">Version 0.8.0</a></li>
                <li><a href="/chemfiles.jl/v0.7.4/">Version 0.7.4</a></li>
                <li><a href="/chemfiles.jl/v0.6.0/">Version 0.6.0</a></li>
                <li><a href="/chemfiles.jl/v0.5.0/">Version 0.5.0</a></li>
                <li><a href="/chemfiles.jl/v0.4.0/">Version 0.4.0</a></li>
            </ul>
        </div>
        <div class="col-lg-2">
        </div>
    </div>

    <br /><br />
    <div class="row">
        <div class="col-lg-3">
            <img width="80em" class="center-block" src="/static/images/logo-rust.png" alt="Rust logo" />
        </div>
        <div class="col-lg-3">
            <h2>Rust</h2>
        </div>
        <div class="col-lg-4">
            <ul>
                <li><a href="/chemfiles.rs/latest/">Latest development version</a></li>
                <li><a href="/chemfiles.rs/0.9.1/">Stable version: 0.9.1</a></li>
                <li><a href="/chemfiles.rs/0.8.0/">Version: 0.8.0</a></li>
                <li><a href="/chemfiles.rs/0.7.40/">Version 0.7.40</a></li>
                <li><a href="/chemfiles.rs/0.7.4/">Version 0.7.4</a></li>
                <li><a href="/chemfiles.rs/0.5.0/">Version 0.5.0</a></li>
                <li><a href="/chemfiles.rs/0.4.0/">Version 0.4.0</a></li>
            </ul>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>
{% endblock %}
