{% extends "base.html" %}
{% block title %} — Documentation{% endblock %}

{% block body %}
<div class="container mt-5">
    <h2 class="mb-5">Select the language and chemfiles version you are using:</h1>
    <div class="row">
        <div class="col-lg-3">
            <figure>
                <img width=120px class="center-block" src="/static/images/logo-cxx.svg" alt="C++ logo" />
                <figcaption>C++ or C</figcaption>
            </figure>
        </div>
        <div class="col-lg-3">
            <ul>
                <li><a href="/chemfiles/latest/">Latest development version</a></li>
                <li><a href="/chemfiles/0.10.4/">Stable version: 0.10.4</a></li>
                <li><a href="/chemfiles/0.9.3/">Previous version: 0.9.3</a></li>
            </ul>
        </div>

        <div class="col-lg-3">
            <figure>
                <img width=120px class="center-block" src="/static/images/logo-python.svg" alt="Python logo" />
                <figcaption>Python 2&3</figcaption>
            </figure>
        </div>
        <div class="col-lg-3">
            <ul>
                <li><a href="/chemfiles.py/latest/">Latest development version</a></li>
                <li><a href="/chemfiles.py/0.10.4/">Stable version: 0.10.4</a></li>
                <li><a href="/chemfiles.py/0.9.3/">Previous version: 0.9.3</a></li>
            </ul>
        </div>
        <div class="col-lg-3"></div>
    </div>

    <div class="mt-5"></div>
    <div class="row">
        <div class="col-lg-3">
            <figure>
                <img width=120px class="center-block" src="/static/images/logo-fortran.svg" alt="Fortran logo" />
                <figcaption>Fortran</figcaption>
            </figure>
        </div>
        <div class="col-lg-3">
            <ul>
                <li><a href="/chemfiles.f03/latest/">Latest development version</a></li>
                <li><a href="/chemfiles.f03/0.10.4/">Stable version: 0.10.4</a></li>
                <li><a href="/chemfiles.f03/0.9.3/">Previous version: 0.9.3</a></li>
            </ul>
        </div>

        <div class="col-lg-3">
            <figure>
                <img width=120px class="center-block" src="/static/images/logo-julia.svg" alt="Julia logo" />
                <figcaption>Julia</figcaption>
            </figure>
        </div>
        <div class="col-lg-3">
            <ul>
                <li><a href="/Chemfiles.jl/latest/">Latest development version</a></li>
                <li><a href="/Chemfiles.jl/v0.10.40/">Stable version: 0.10.40</a></li>
                <li><a href="/Chemfiles.jl/v0.9.3/">Previous version: 0.9.3</a></li>
            </ul>
        </div>
        <div class="col-lg-3"></div>
    </div>

    <div class="mt-5"></div>
    <div class="row">
        <div class="col-lg-3">
            <figure>
                <img width=120px class="center-block" src="/static/images/logo-rust.svg" alt="Rust logo" />
                <figcaption>Rust</figcaption>
            </figure>
        </div>
        <div class="col-lg-3">
            <ul>
                <li><a href="/chemfiles.rs/latest/">Latest development version</a></li>
                <li><a href="/chemfiles.rs/0.10.4/">Stable version: 0.10.4</a></li>
                <li><a href="/chemfiles.rs/0.9.3/">Previous version: 0.9.3</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
