{% extends "base.html" %}
{% block title %} — An efficient chemistry IO library{% endblock %}

{% block body %}
<div class="vspace-3"></div>

<div class="jumbotron">
    <div class="container">
        <img
            src="/static/images/chemfiles.svg"
            alt="Chemfiles logo" class="img-responsive pull-right"
            id="chemfiles-logo"
        />

        <h1>Chemfiles</h1>
        <h2>A library for reading and writing trajectory files</h2>
        <p>Chemfiles provides a <strong>simple</strong> and <strong>unified</strong>
            interface for reading and writing computational chemistry
            files: trajectories, configurations, and topologies.</p>
        <div class="container">
            <br/>
            <div class="row input-group-btn text-center">
                <div class="col-lg-2"></div>
                <div class="col-lg-3">
                    <a href="http://github.com/chemfiles/chemfiles/releases/">
                        <button class="btn-success flat-btn" type="button" name="Download">
                            <span class="mega-octicon octicon-cloud-download" aria-hidden="true"></span>
                            Download
                        </button>
                    </a>
                </div>
                <div class="col-lg-3">
                    <a href="documentation.html">
                        <button class="btn-primary flat-btn" type="button" name="Documentation">
                            <span class="mega-octicon octicon-flame" aria-hidden="true"></span>
                            Documentation
                        </button>
                    </a>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>
</div>
<div class="vspace-4"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2><span class="mega-octicon octicon-file-code" aria-hidden="true"></span>
                Format agnostic
            </h2>
            <p>Chemfiles provides a unique interface for all supported file formats. Read
            XYZ, PDB, NetCDF, TRJ and <a href="chemfiles/latest/formats.html#list-of-supported-formats">
            other formats</a> with the exact same code.</p>
            <p>Chemfiles supports both text (XYZ, PDB, …) and binary (GROMACS, NetCDF, …)
            formats.</p>
        </div>
        <div class="col-lg-4">
            <img src="/static/images/words.png" alt="Word cloud" class="img-responsive" style="margin: 0 auto;"/>
        </div>
        <div class="col-lg-4">
            <h2><span class="mega-octicon octicon-check" aria-hidden="true"></span>
                Easy to use
            </h2>

            <p>Chemfiles is built in an object-oriented fashion, and the public interface
            consists of 5 classes only.</p>
            <p>The interface focuses on simplicity, and has extensive
            <a href="chemfiles/latest/index.html">documentation</a>.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <h2><span class="mega-octicon octicon-globe" aria-hidden="true"></span>
                Multiple languages
            </h2>
            <p>Chemfiles is written in C++, but you can use it with all the major
            scientific languages:</p>

            <div class="row">
                <div class="col-xs-4 text-center images-table">
                    <a href="chemfiles/latest/index.html" title="C++">
                        <img src="/static/images/logo-cxx.png" alt="C++ logo"/>
                    </a>
                    <p>C++</p>
                </div>
                <div class="col-xs-4 text-center images-table">
                    <a href="chemfiles/latest/capi.html" title="C">
                        <img src="/static/images/logo-c.png" alt="C logo"/>
                    </a>
                    <p>C</p>
                </div>
                <div class="col-xs-4 text-center images-table">
                    <a href="chemfiles.f03/latest/index.html" title="Fortran">
                        <img src="/static/images/logo-fortran.png" alt="Fortran logo" />
                    </a>
                    <p>Fortran</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4 text-center images-table">
                    <a href="chemfiles.py/latest/index.html" title="Python">
                        <img src="/static/images/logo-python.png" alt="Python logo" />
                    </a>
                    <p>Python 2 &amp; 3</p>
                </div>
                <div class="col-xs-4 text-center images-table">
                    <a href="chemfiles.rs/latest/index.html" title="Rust">
                        <img src="/static/images/logo-rust.png" alt="Rust logo" />
                    </a>
                    <p>Rust</p>
                </div>
                <div class="col-xs-4 text-center images-table">
                    <a href="Chemfiles.jl/latest/index.html" title="Julia">
                        <img src="/static/images/logo-julia.png" alt="Julia logo" />
                    </a>
                    <p>Julia</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h2><span class="mega-octicon octicon-gear" aria-hidden="true"></span>
                Principal features
            </h2>
            <ul>
                <li>Powerfull atom selection language;</li>
                <li>Automatic file type recognition;</li>
                <li>Support non-constant number of atoms;</li>
                <li>Orthorombic and tricliclinic periodic boundary conditions;</li>
                <li>Use a custom unit cell or topology at runtime;</li>
                <li>And <a href="chemfiles/latest"> many others</a> ...</li>
            </ul>
        </div>
        <div class="col-lg-4">
            <h2><span class="mega-octicon octicon-mark-github" aria-hidden="true"></span>
                Open-source
            </h2>
            <p>Chemfiles is open-source under the 3 clauses BSD licence, hosted
            on <a href="http://github.com/chemfiles/chemfiles">Github</a>, and
            open to your contributions!</p>

            <p>Please report any bug or feature request as a <a
            href="http://github.com/chemfiles/chemfiles/issues">Github
            issue</a>.</p>
        </div>
    </div>
</div>
<div class="vspace-4"></div>
<div class="container">
    <h2>Usage examples</h2>
    <p>
        Here is a small usage example for Chemfiles. More examples can be found in the
        documentation for each language.
    </p>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#cxx-example">C++</a></li>
        <li><a data-toggle="tab" href="#c-example">C</a></li>
        <li><a data-toggle="tab" href="#fortran-example">Fortran</a></li>
        <li><a data-toggle="tab" href="#python-example">Python</a></li>
        <li><a data-toggle="tab" href="#rust-example">Rust</a></li>
        <li><a data-toggle="tab" href="#julia-example">Julia</a></li>
    </ul>
    <div class="tab-content">
        <div id="cxx-example" class="tab-pane fade in active">
            {% highlight 'cpp' %}{{ raw_include('code/example.cpp')}}{% endhighlight %}
        </div>
        <div id="c-example" class="tab-pane fade">
            {% highlight 'c' %}{{ raw_include('code/example.c')}}{% endhighlight %}
        </div>
        <div id="fortran-example" class="tab-pane fade">
            {% highlight 'fortran' %}{{ raw_include('code/example.f95')}}{% endhighlight %}
        </div>
        <div id="python-example" class="tab-pane fade">
            {% highlight 'python' %}{{ raw_include('code/example.py')}}{% endhighlight %}
        </div>
        <div id="rust-example" class="tab-pane fade">
            {% highlight 'rust' %}{{ raw_include('code/example.rs')}}{% endhighlight %}
        </div>
        <div id="julia-example" class="tab-pane fade">
            {% highlight 'julia' %}{{ raw_include('code/example.jl')}}{% endhighlight %}

        </div>
    </div>
</div>
{% endblock %}
