html, body {
  height: 100%;
  padding-bottom: 0;
  font-size: 12pt;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:100px; /* this needs to be bigger than footer height*/
}

.footer {
  padding-top: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: 200;
  background-color: #eeeeee;
  position: relative;
  margin-top: -90px; /* negative value of footer height */
  height: 90px;
  clear: both;
}

.images-table {
    padding: 5px;
}
